ação.
API: https://www.sptrans.com.br/desenvolvedores
ENDPOINTS:https://www.sptrans.com.br/desenvolvedores/api-do-olho-vivo-guia-de-r
eferencia/documentacao-api/
Utilizar o GTFS da SPTRANS para dados complementares (Dados
Estáticos/Cadastrais).
Enriquecer os dados de paradas com o endereço da localidade, através de latitude e
longitude.
Dados do GTFS: https://gtfs.org/documentation/schedule/reference/

In [97]:
import requests
import pandas as pd
API_TOKEN = "36b9de7cf0f0bcd8cdde826217615c1b5d2e7b71c80397ec50d1ec7620b4f872"
BASE_URL = "http://api.olhovivo.sptrans.com.br/v2.1"
BASE_PATH = ''

In [98]:
session = requests.Session()
def authenticate(api_token):
     # Define the authentication endpoint
    auth_endpoint = f"{BASE_URL}/Login/Autenticar?token={api_token}"
    
    try:
        # Make a POST request to authenticate
        response = session.post(auth_endpoint)
        
        # Check if the authentication was successful
        if response.status_code == 200:
            return response
        else:
            print(f"Erro, status: {response.status_code}")
            return False
    except requests.exceptions.RequestException as e:
        print(f"Erro: {e}")
        return False


result = authenticate(API_TOKEN)
print(result.text)

true

In [99]:
def buscar_linha_sentido(session, termosBusca):
     # Define the authentication endpoint
    endpoint = f"{BASE_URL}/Linha/Buscar?termosBusca={termosBusca}"
    
    try:
        # Make a POST request to authenticate
        response = session.get(endpoint)
        
        # Check if the authentication was successful
        if response.status_code == 200:
            return response
        else:
            print(f"Erro, status: {response.status_code}")
            return response
    except requests.exceptions.RequestException as e:
        print(f"Erro: {e}")
        return False


result = buscar_linha_sentido(session, '8000')
print(result.text)

[{"cl":2506,"lc":false,"lt":"8000","sl":1,"tl":1,"tp":"PÇA. RAMOS DE AZEVEDO","ts":"TERM. LAPA"},{"cl":35274,"lc":false,"lt":"8000","sl":2,"tl":1,"tp":"PÇA. RAMOS DE AZEVEDO","ts":"TERM. LAPA"},{"cl":1273,"lc":false,"lt":"8000","sl":1,"tl":10,"tp":"PÇA. RAMOS DE AZEVEDO","ts":"TERM. LAPA"},{"cl":34041,"lc":false,"lt":"8000","sl":2,"tl":10,"tp":"PÇA. RAMOS DE AZEVEDO","ts":"TERM. LAPA"}]

In [100]:
import json

def generic_get(session, endpoint):
     # Define the authentication endpoint
    endpoint = BASE_URL + endpoint    
    print(endpoint)
    try:
        # Make a POST request to authenticate
        response = session.get(endpoint)
        
        # Check if the authentication was successful
        if response.status_code == 200:
            return response
        else:
            print(f"Erro, status: {response.status_code}")
            return response
    except requests.exceptions.RequestException as e:
        print(f"Erro: {e}")
        return False

def kmz(session):
    return generic_get(session, '/KMZ')

def parada_buscar(session, termos_busca):
    return generic_get(session, f"/Parada/Buscar?termosBusca='{termos_busca}'")

def parada_buscar_por_linha(session, codigo_linha):
    return generic_get(session, f"/Parada/BuscarParadasPorLinha?codigoLinha={codigo_linha}")

def previsao_parada(session, codigo_parada):
    return generic_get(session, f'/Previsao/Parada?codigoParada={codigo_parada}')

def previsao_linha(session, codigo_linha):
    return generic_get(session, f'/Previsao/Linha?codigoLinha={codigo_linha}') #/Previsao/Linha?codigoLinha={codigoLinha}
    
def posicao(session):
    return generic_get(session, f'/Posicao')

def posicao_por_linha(session, codigo_linha):
    return generic_get(session, f"/Posicao/Linha?codigoLinha={codigo_linha}")

# paradas = parada_buscar(session, 'rebouças');
# print(json.dumps(result.json(), indent=4))

# result = parada_buscar_por_linha(session, '1171')
# print(json.dumps(result.json(), indent=4))

# result = previsao_parada(session, '630015011')
# print(json.dumps(result.json(), indent=4))

# result = posicao(session)
# print(json.dumps(result.json(), indent=2))

# result = posicao_por_linha(session, 1171)
# print(json.dumps(result.json(), indent=2))

In [103]:
posicao_por_linha(session,'34694').json()

http://api.olhovivo.sptrans.com.br/v2.1/Posicao/Linha?codigoLinha=34694

{'hr': '21:57',
 'vs': [{'p': '71318',
   'a': True,
   'ta': '2025-01-28T00:56:27Z',
   'py': -23.612126,
   'px': -46.754433,
   'sv': None,
   'is': None},
  {'p': '71305',
   'a': True,
   'ta': '2025-01-28T00:56:49Z',
   'py': -23.631508,
   'px': -46.7726,
   'sv': None,
   'is': None},
  {'p': '71282',
   'a': True,
   'ta': '2025-01-28T00:56:21Z',
   'py': -23.631173750000002,
   'px': -46.77117525,
   'sv': None,
   'is': None},
  {'p': '71281',
   'a': True,
   'ta': '2025-01-28T00:56:51Z',
   'py': -23.6313825,
   'px': -46.77286,
   'sv': None,
   'is': None},
  {'p': '71190',
   'a': True,
   'ta': '2025-01-28T00:56:16Z',
   'py': -23.631579000000002,
   'px': -46.772447,
   'sv': None,
   'is': None},
  {'p': '71310',
   'a': True,
   'ta': '2025-01-28T00:56:30Z',
   'py': -23.6316405,
   'px': -46.772316,
   'sv': None,
   'is': None},
  {'p': '71319',
   'a': True,
   'ta': '2025-01-28T00:56:22Z',
   'py': -23.56053225,
   'px': -46.657398,
   'sv': None,
   'is': None},
  {'p': '71292',
   'a': True,
   'ta': '2025-01-28T00:56:59Z',
   'py': -23.58799475,
   'px': -46.727156375,
   'sv': None,
   'is': None}]}

In [52]:
result = previsao_parada(session, '630015010')
print(json.dumps(result.json(), indent=4))

http://api.olhovivo.sptrans.com.br/v2.1/Previsao/Parada?codigoParada=630015010
{
    "hr": "20:18",
    "p": {
        "cp": 630015010,
        "np": "CAP. ANTONIO ROSA C/B",
        "py": -23.567619,
        "px": -46.684372,
        "l": [
            {
                "c": "857R-10",
                "cl": 34660,
                "sl": 2,
                "lt0": "ACLIMA\u00c7\u00c3O",
                "lt1": "TERM. CAMPO LIMPO",
                "qv": 2,
                "vs": [
                    {
                        "p": "80292",
                        "t": "20:21",
                        "a": true,
                        "ta": "2025-01-27T23:18:12Z",
                        "py": -23.560381666666665,
                        "px": -46.671515,
                        "sv": null,
                        "is": null
                    },
                    {
                        "p": "80171",
                        "t": "20:31",
                        "a": true,
                        "ta": "2025-01-27T23:17:46Z",
                        "py": -23.565604999999998,
                        "px": -46.65134666666666,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "8700-10",
                "cl": 34645,
                "sl": 2,
                "lt0": "P\u00c7A. RAMOS DE AZEVEDO",
                "lt1": "TERM. CAMPO LIMPO",
                "qv": 1,
                "vs": [
                    {
                        "p": "81371",
                        "t": "20:22",
                        "a": true,
                        "ta": "2025-01-27T23:18:06Z",
                        "py": -23.558481666666662,
                        "px": -46.66825000000001,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "7245-10",
                "cl": 33131,
                "sl": 2,
                "lt0": "HOSP. DAS CL\u00cdNICAS",
                "lt1": "TERM. STO. AMARO",
                "qv": 1,
                "vs": [
                    {
                        "p": "76950",
                        "t": "20:22",
                        "a": true,
                        "ta": "2025-01-27T23:17:34Z",
                        "py": -23.55823666666667,
                        "px": -46.66800833333333,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "857P-10",
                "cl": 34694,
                "sl": 2,
                "lt0": "PARA\u00cdSO",
                "lt1": "TERM. CAMPO LIMPO",
                "qv": 1,
                "vs": [
                    {
                        "p": "71190",
                        "t": "20:25",
                        "a": true,
                        "ta": "2025-01-27T23:18:06Z",
                        "py": -23.558609999999998,
                        "px": -46.65949666666667,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "809V-10",
                "cl": 35011,
                "sl": 2,
                "lt0": "METR\u00d4 - TRIANON - MASP",
                "lt1": "VL. GOMES",
                "qv": 1,
                "vs": [
                    {
                        "p": "81433",
                        "t": "20:25",
                        "a": true,
                        "ta": "2025-01-27T23:17:35Z",
                        "py": -23.554313333333333,
                        "px": -46.66037166666667,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "702C-10",
                "cl": 33253,
                "sl": 2,
                "lt0": "METR\u00d4 BEL\u00c9M",
                "lt1": "JD. BONFIGLIOLI",
                "qv": 2,
                "vs": [
                    {
                        "p": "81516",
                        "t": "20:25",
                        "a": true,
                        "ta": "2025-01-27T23:17:54Z",
                        "py": -23.551968333333335,
                        "px": -46.657708333333325,
                        "sv": null,
                        "is": null
                    },
                    {
                        "p": "81546",
                        "t": "20:43",
                        "a": true,
                        "ta": "2025-01-27T23:17:57Z",
                        "py": -23.542218333333334,
                        "px": -46.615449999999996,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "8707-10",
                "cl": 34832,
                "sl": 2,
                "lt0": "TERM. PRINC. ISABEL",
                "lt1": "RIO PEQUENO",
                "qv": 1,
                "vs": [
                    {
                        "p": "81598",
                        "t": "20:25",
                        "a": true,
                        "ta": "2025-01-27T23:18:13Z",
                        "py": -23.551825,
                        "px": -46.65741166666667,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "778R-10",
                "cl": 33277,
                "sl": 2,
                "lt0": "TERM. PRINC. ISABEL",
                "lt1": "COHAB RAPOSO TAVARES",
                "qv": 1,
                "vs": [
                    {
                        "p": "81614",
                        "t": "20:28",
                        "a": true,
                        "ta": "2025-01-27T23:17:56Z",
                        "py": -23.547895,
                        "px": -46.648878333333336,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "715M-10",
                "cl": 33258,
                "sl": 2,
                "lt0": "LGO. DA P\u00d3LVORA",
                "lt1": "JD. MARIA LUIZA",
                "qv": 1,
                "vs": [
                    {
                        "p": "81256",
                        "t": "20:29",
                        "a": true,
                        "ta": "2025-01-27T23:18:12Z",
                        "py": -23.562794999999998,
                        "px": -46.654709999999994,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "775P-10",
                "cl": 33275,
                "sl": 2,
                "lt0": "METR\u00d4 ANA ROSA",
                "lt1": "JD. GUARA\u00da",
                "qv": 1,
                "vs": [
                    {
                        "p": "81564",
                        "t": "20:31",
                        "a": true,
                        "ta": "2025-01-27T23:17:47Z",
                        "py": -23.565634999999997,
                        "px": -46.651558333333334,
                        "sv": null,
                        "is": null
                    }
                ]
            },
            {
                "c": "702U-10",
                "cl": 34098,
                "sl": 2,
                "lt0": "TERM. PQ. D. PEDRO II",
                "lt1": "CID. UNIVERSIT\u00c1RIA",
                "qv": 1,
                "vs": [
                    {
                        "p": "82778",
                        "t": "20:33",
                        "a": true,
                        "ta": "2025-01-27T23:17:48Z",
                        "py": -23.541021666666666,
                        "px": -46.63850333333333,
                        "sv": null,
                        "is": null
                    }
                ]
            }
        ]
    }
}

In [123]:
result = previsao_linha(session, '34694')
print(json.dumps(result.json(), indent=4))

http://api.olhovivo.sptrans.com.br/v2.1/Previsao/Linha?codigoLinha=34694
{
    "hr": "22:05",
    "ps": [
        {
            "cp": 70016834,
            "np": "",
            "py": -23.568023,
            "px": -46.648338,
            "vs": []
        },
        {
            "cp": 70016782,
            "np": "",
            "py": -23.570405,
            "px": -46.645227,
            "vs": []
        },
        {
            "cp": 70016916,
            "np": "",
            "py": -23.562931,
            "px": -46.654428,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:08",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 706304,
            "np": "",
            "py": -23.5659,
            "px": -46.650929,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:06",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 70015949,
            "np": "",
            "py": -23.560303,
            "px": -46.657365,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:10",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 440015003,
            "np": "BRASIL C/B",
            "py": -23.564096,
            "px": -46.677671,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:16",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 630015010,
            "np": "CAP. ANTONIO ROSA C/B",
            "py": -23.567619,
            "px": -46.684372,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:17",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 440015007,
            "np": "CL\u00cdNICAS C/B",
            "py": -23.558083,
            "px": -46.667869,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:13",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 120011361,
            "np": "DRAUSIO C/B",
            "py": -23.577163,
            "px": -46.707965,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:11",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:23",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 960011373,
            "np": "EDEN C/B",
            "py": -23.588431,
            "px": -46.727769,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:17",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:29",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 550011365,
            "np": "FUND CARLOS CHAGAS C/B",
            "py": -23.582898,
            "px": -46.71419,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:13",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:25",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 960011368,
            "np": "JORGE JO\u00c3O SAAD C/B",
            "py": -23.586423,
            "px": -46.723955,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:16",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:28",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 440015005,
            "np": "OSCAR FREIRE C/B",
            "py": -23.560245,
            "px": -46.671642,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:14",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 630015011,
            "np": "PARADA 2 - FARIA LIMA C/B",
            "py": -23.570905,
            "px": -46.690499,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:07",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:19",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 260016919,
            "np": "PARADA 2 - FREI CANECA",
            "py": -23.558768,
            "px": -46.659175,
            "vs": [
                {
                    "p": "71306",
                    "t": "22:11",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 120011357,
            "np": "PARADA VITAL BRASIL C/B",
            "py": -23.573035,
            "px": -46.705392,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:10",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:22",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 120011363,
            "np": "ROQUETE PINTO C/B",
            "py": -23.581273,
            "px": -46.711714,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:13",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:25",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        },
        {
            "cp": 120011367,
            "np": "TRES IRMAOS C/B",
            "py": -23.584817,
            "px": -46.719021,
            "vs": [
                {
                    "p": "71319",
                    "t": "22:14",
                    "a": true,
                    "ta": "2025-01-28T01:05:39Z",
                    "py": -23.568080000000002,
                    "px": -46.68494333333333,
                    "sv": null,
                    "is": null
                },
                {
                    "p": "71306",
                    "t": "22:26",
                    "a": true,
                    "ta": "2025-01-28T01:05:37Z",
                    "py": -23.567871666666665,
                    "px": -46.64858833333333,
                    "sv": null,
                    "is": null
                }
            ]
        }
    ]
}

In [124]:
import geopy.distance

coords_1 = (52.2296756, 21.0122287)# (lat, lon)
coords_2 = (52.406374, 16.9251681) # (lat, lon)

print(geopy.distance.geodesic(coords_1, coords_2).km)

# The latitude of Sao Paulo City, Brazil is -23.533773, and the longitude is -46.625290.

279.35290160430094

In [125]:
import collections

import datetime
previsao = result.json()

def convert_time(text):
    h,m = text.split(':')
    return datetime.datetime(2025, 1, 17, int(h), int(m), 0)

hora_atual = convert_time(previsao.get('hr'))
print(hora_atual)

onibus = collections.defaultdict(list)
for ps in previsao.get('ps',[]):
    cod_parada = ps.get('cp','?')
    ps_px = ps.get('px') # long
    ps_py = ps.get('py') # lat 
    vs = ps.get('vs',[])
    for veiculo in vs:
        vs_p = veiculo.get('p')
        vs_t = veiculo.get('t')
        vs_px = veiculo.get('px')
        vs_py = veiculo.get('py')
        print(vs_p)
        onibus[vs_p].append((cod_parada, vs_t, round(geopy.distance.geodesic((vs_py, vs_px), (ps_py, ps_px)).km,ndigits=3)))
        
onibus

2025-01-17 22:05:00
71306
71306
71306
71306
71306
71306
71319
71306
71319
71306
71319
71306
71319
71306
71306
71319
71306
71306
71319
71306
71319
71306
71319
71306

defaultdict(list,
            {'71306': [(70016916, '22:08', 0.809),
              (706304, '22:06', 0.324),
              (70015949, '22:10', 1.227),
              (440015003, '22:16', 2.998),
              (630015010, '22:17', 3.653),
              (440015007, '22:13', 2.247),
              (120011361, '22:23', 6.148),
              (960011373, '22:29', 8.397),
              (550011365, '22:25', 6.9),
              (960011368, '22:28', 7.963),
              (440015005, '22:14', 2.501),
              (630015011, '22:19', 4.292),
              (260016919, '22:11', 1.478),
              (120011357, '22:22', 5.827),
              (120011363, '22:25', 6.613),
              (120011367, '22:26', 7.431)],
             '71319': [(120011361, '22:11', 2.556),
              (960011373, '22:17', 4.919),
              (550011365, '22:13', 3.407),
              (960011368, '22:16', 4.471),
              (630015011, '22:07', 0.648),
              (120011357, '22:10', 2.158),
              (120011363, '22:13', 3.099),
              (120011367, '22:14', 3.942)]})

In [126]:
import datetime


for cod,paradas in onibus.items():
    print(cod)
    paradas = sorted(paradas, key=lambda x: int(x[1].replace(':','')))
    p0 = paradas[0]
    for p in paradas:
        hora_parada = convert_time(p[1])
        diff_hora = (hora_parada -  hora_atual).seconds
        speed = round(p[2] / (diff_hora/3600), 3)
        print[p[0], para, diff_hora, speed] )

71306
[706304, '22:06', 0.324, 60, 19.44]
[70016916, '22:08', 0.809, 180, 16.18]
[70015949, '22:10', 1.227, 300, 14.724]
[260016919, '22:11', 1.478, 360, 14.78]
[440015007, '22:13', 2.247, 480, 16.852]
[440015005, '22:14', 2.501, 540, 16.673]
[440015003, '22:16', 2.998, 660, 16.353]
[630015010, '22:17', 3.653, 720, 18.265]
[630015011, '22:19', 4.292, 840, 18.394]
[120011357, '22:22', 5.827, 1020, 20.566]
[120011361, '22:23', 6.148, 1080, 20.493]
[550011365, '22:25', 6.9, 1200, 20.7]
[120011363, '22:25', 6.613, 1200, 19.839]
[120011367, '22:26', 7.431, 1260, 21.231]
[960011368, '22:28', 7.963, 1380, 20.773]
[960011373, '22:29', 8.397, 1440, 20.992]
71319
[630015011, '22:07', 0.648, 120, 19.44]
[120011357, '22:10', 2.158, 300, 25.896]
[120011361, '22:11', 2.556, 360, 25.56]
[550011365, '22:13', 3.407, 480, 25.553]
[120011363, '22:13', 3.099, 480, 23.243]
[120011367, '22:14', 3.942, 540, 26.28]
[960011368, '22:16', 4.471, 660, 24.387]
[960011373, '22:17', 4.919, 720, 24.595]

In [45]:
import openlayer

In [6]:
# !pip install ipyleaflet jupyter-leaflet
# conda install conda-forge::nodejs
# !jupyter labextension install @jupyter-widgets/jupyterlab-manager jupyter-leaflet
import ipyleaflet

In [7]:
from ipyleaflet import Map, Marker

center = (-23.5558, -46.6396)

m = Map(center=center, zoom=10)
marker = Marker(location=center, draggable=True)
m.add(marker);

In [31]:


result = posicao_por_linha(session, 1171).json()
# print(json.dumps(result.json(), indent=2))
vs = result.get('vs', [])
for veiculo in vs:
    print(veiculo)
    px = veiculo.get('px')
    py = veiculo.get('py')
    print(py,px)
    marker = Marker(location=(py,px), draggable=True)
    m.add(marker);

display(m)

http://api.olhovivo.sptrans.com.br/v2.1/Posicao/Linha?codigoLinha=1171
{'p': '66863', 'a': True, 'ta': '2025-01-22T23:03:57Z', 'py': -23.799326999999998, 'px': -46.7314595, 'sv': None, 'is': None}
-23.799326999999998 -46.7314595
{'p': '66898', 'a': True, 'ta': '2025-01-22T23:04:03Z', 'py': -23.7676985, 'px': -46.716468500000005, 'sv': None, 'is': None}
-23.7676985 -46.716468500000005
{'p': '66453', 'a': True, 'ta': '2025-01-22T23:04:01Z', 'py': -23.893676999999997, 'px': -46.7306645, 'sv': None, 'is': None}
-23.893676999999997 -46.7306645

Map(bottom=1191472.0, center=[-23.781574808476822, -46.70674324035645], controls=(ZoomControl(options=['positi…

In [24]:
import geopy.distance

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

print(geopy.distance.geodesic(coords_1, coords_2).km)

279.35290160430094

In [11]:
import pandas as pd

BASE_PATH = 'trafi_gtfs'

df_agency = pd.read_csv(f'{BASE_PATH}/agency.txt', header=0)
df_agency.head()

,agency_id,agency_name,agency_url,agency_timezone,agency_lang
0,1,SPTRANS,http://www.sptrans.com.br/?versao=200125,America/Sao_Paulo,pt

In [12]:
df_calendar = pd.read_csv(f'{BASE_PATH}/calendar.txt', header=0)
df_calendar.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,USD,1,1,1,1,1,1,1,20231001,20250801
1,U__,1,1,1,1,1,0,0,20231001,20250801
2,US_,1,1,1,1,1,1,0,20231001,20250801
3,_SD,0,0,0,0,0,1,1,20231001,20250801
4,__D,0,0,0,0,0,0,1,20231001,20250801

In [13]:
df_fare_attributes = pd.read_csv(f'{BASE_PATH}/fare_attributes.txt', header=0)
df_fare_attributes.head()

,fare_id,price,currency_type,payment_method,transfers,transfer_duration
0,CPTM,5.2,BRL,0,NaN,10800
1,Metrô,5.2,BRL,0,NaN,10800
2,Ônibus,5.0,BRL,0,NaN,10800
3,Ônibus + CPTM,8.9,BRL,0,NaN,10800
4,Ônibus + Metrô,8.9,BRL,0,NaN,10800

In [34]:
df_fare_rules = pd.read_csv(f'{BASE_PATH}/fare_rules.txt', header=0)
print(df_fare_rules.shape)
df_fare_rules.head()

(5355, 5)

  fare_id  route_id  origin_id  destination_id  contains_id
0    CPTM  CPTM L07        NaN             NaN          NaN
1    CPTM  CPTM L08        NaN             NaN          NaN
2    CPTM  CPTM L09        NaN             NaN          NaN
3    CPTM  CPTM L10        NaN             NaN          NaN
4    CPTM  CPTM L11        NaN             NaN          NaN

In [35]:
df_frequencies = pd.read_csv(f'{BASE_PATH}/frequencies.txt', header=0)
print(df_frequencies.shape)
df_frequencies.head()

(40066, 4)

     trip_id start_time  end_time  headway_secs
0  1012-10-0   00:00:00  00:59:00          1200
1  1012-10-0   01:00:00  01:59:00          3600
2  1012-10-0   05:00:00  05:59:00           600
3  1012-10-0   06:00:00  06:59:00           600
4  1012-10-0   07:00:00  07:59:00           600

In [36]:
df_routes = pd.read_csv(f'{BASE_PATH}/routes.txt', header=0)
print(df_routes.shape)

df_routes.head()

(1342, 7)

,route_id,agency_id,route_short_name,route_long_name,route_type,route_color,route_text_color
0,1012-10,1,1012-10,Term. Jd. Britania - Jd. Monte Belo,3,509E2F,FFFFFF
1,1012-21,1,1012-21,Term. Jd. Britânia - Jd. Rosinha,3,509E2F,FFFFFF
2,1014-10,1,1014-10,Morro Doce - Cptm Perus,3,509E2F,FFFFFF
3,1015-10,1,1015-10,Term. Jd. Britânia - Chác. Maria Trindade,3,509E2F,FFFFFF
4,1016-10,1,1016-10,Cem. Do Horto - Shop. Center Norte,3,002F6C,FFFFFF

In [37]:
df_shapes = pd.read_csv(f'{BASE_PATH}/shapes.txt', header=0)
shape_pos = df_shapes[df_shapes['shape_id'] == 81072][['shape_pt_lat', 'shape_pt_lon']].values

In [38]:
from ipyleaflet import Map, Marker, FullScreenControl

avg_lat = sum(x[0] for x in shape_pos)/len(shape_pos)
avg_long = sum(x[1] for x in shape_pos)/len(shape_pos)

control = FullScreenControl()

# center = (-23.5558, -46.6396)
center = (avg_lat, avg_long)


m1 = Map(center=center, zoom=12)
m1.add_control(control)

for p in shape_pos:
    marker = Marker(location=tuple(p), draggable=False)
    m1.add(marker);

display(m1)

Map(center=[-23.436078552542355, -46.79888413220338], controls=(ZoomControl(options=['position', 'zoom_in_text…

In [19]:
df_stop_times = pd.read_csv(f'{BASE_PATH}/stop_times.txt', header=0)
df_stop_times.head()

     trip_id arrival_time departure_time   stop_id  stop_sequence
0  1012-10-0     18:00:00       18:00:00    301790              1
1  1012-10-0     18:01:35       18:01:35    301764              2
2  1012-10-0     18:03:10       18:03:10    301724              3
3  1012-10-0     18:04:45       18:04:45    301730              4
4  1012-10-0     18:06:20       18:06:20  30003042              5

In [20]:
df_stops = pd.read_csv(f'{BASE_PATH}/stops.txt', header=0)
print(df_stops.shape)
df_stops.head()

(21842, 5)

   stop_id      stop_name stop_desc   stop_lat   stop_lon
0    18848       Clínicas       NaN -23.554022 -46.671108
1    18849  Vila Madalena       NaN -23.546498 -46.691141
2    18850     Consolação       NaN -23.558094 -46.660205
3    18851      Conceição       NaN -23.635039 -46.641239
4    18852      Jabaquara       NaN -23.646033 -46.641028

In [21]:
from ipyleaflet import Map, Marker, FullScreenControl
shape_pos = df_stops[['stop_lat', 'stop_lon']].values[:500] 

avg_lat = sum(x[0] for x in shape_pos)/len(shape_pos)
avg_long = sum(x[1] for x in shape_pos)/len(shape_pos)

control = FullScreenControl()

# center = (-23.5558, -46.6396)
center = (avg_lat, avg_long)


m1 = Map(center=center, zoom=12)
m1.add_control(control)

for p in shape_pos:
    marker = Marker(location=tuple(p), draggable=False)
    m1.add(marker);

display(m1)

Map(center=[-23.524372034, -46.63580856000003], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zo…

In [22]:
df_trips = pd.read_csv(f'{BASE_PATH}/trips.txt', header=0)
df_trips.head()

  route_id service_id    trip_id         trip_headsign  direction_id  shape_id
0  1012-10        USD  1012-10-0        Jd. Monte Belo             0     81072
1  1012-10        USD  1012-10-1    Term. Jd. Britania             1     81073
2  1012-21        U__  1012-21-0           Jd. Rosinha             0     81195
3  1014-10        U__  1014-10-0            Cptm Perus             0     82855
4  1015-10        USD  1015-10-0  Chác. Maria Trindade             0     81148

## Ideias:

* Tempo de atraso nos pontos (stops)
* Velocidade media
* Deteccao de eventos/emergencias


## Tasks: 

- Subir MiniIO
- manter um sistema gravando no MiniOI dados de posicao
- sistema para processar os dados - Pyspark

# docker composer
- MiniIO
- PySpark
- Trino
- Metabase / SuperSet
- 


## Questoes
- Todas as posicoes? Ou só algumas linhas?
- frequencia de atualizacao (1 minuto)


previsão da linha
-> 


acertividade da previsão
-> differenca entre o previsto e o realizado



-> pega a posicao dos onibus usando a API (horario de referencia, prefixo veiculo, linha, etc)


-> shapes -> unir shapes com stops (percuso + paradas)